.container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 62px 30px repeat(3, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;

/*    border: 1px solid black; */   /* debugging */
}

.data-tag {
   grid-area: 2 / 2 / 3 / 5;
   text-align: center;

   /* styling the text */
   font-style: italic;

   /* debugging */
   /* border: 1px solid black; */
}

.reading {
   grid-area: 3 / 2 / 4 / 5;

   /* debugging */
   /* border: 1px solid black; */
}
.vl {
   /* making the bar */
   position: relative;
   height: 150px;
   border-left: 10px solid #900021;

   /* styling the text */
   font-weight: bolder;
   font-size: 200%;

   /* adding spaces */
   padding-left: 10px;
   margin-bottom: 20%;
   margin-top: 5%;
}

.write-1 {
   grid-area: 4 / 1 / 5 / 6;

   padding-top: 5%;
   padding-left: 10px;
   padding-right: 10px;

   /* debugging */
   /*  border: 1px solid black; */
}

.write-2 {
   grid-area: 5 / 1 / 6 / 6;

   padding-top: 5%;
   padding-left: 10px;
   padding-right: 10px;

   /* debugging */
   /* border: 1px solid black; */
}